/* CSS général + optimisation lignes */
@font-face {
    font-family: "Ubuntu";
    src: url('../fontfamily/Ubuntu-Light.ttf');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Ubuntu;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

/* Début header */
header {
    background-color: #1A1A1D;
    color: white;
    height: 100px;
}

.logoPage {
    justify-content: left;
    align-items: center;
}

.icones ul {
    display: flex;
    justify-content: center ;
}

.bg {
    background-image: url('../img/banner-home.png');
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: cover;
}

.apropos {
    background-color: yellow;
}

.pack {
    background-color: #334D5C;
}

.outils {
    background-color: pink;
}


/* Début footer */
footer {
    background-color: #393A3B;
    color: white;
    padding-top: 40px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.ftr-packs, .ftr-outils, .ftr-social {
    display: grid;
    align-items: center;
    justify-content: center;
}

footer img {
    width : 50px;
    margin-right: 10px;
}

#conditions {
   display: flex;
   justify-content: end;
   margin-right: 15px;
}